<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="drinks/drinks.css" />
    <title>Energy Drink Database</title>
    
</head>
<body>
<div id="wrapper">
<center>
<H1>Energy Drink Database</H1>
    <table border="0">
        <tr>
            <th>Name</th>
            <th>CO2</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
        {{#drinks}}
        <tr>
            <td><a href="drinks/{{key}}.html">{{name}}</a></td>
            <td>{{#CO2}}Yes{{/CO2}}{{^CO2}}No{{/CO2}}</td>
            <td>{{paid}}</td>
            <td>{{rating}}</td>
        </tr>
        {{/drinks}}
    </table>
</center>
<H1>Help Me</H1>
I would be more than glad if something of this project helped you, you may
send me one of the energy drinks i have never drank before ( check db).
Send me a quick mail and we might meet up somewhere here in germany.
<h2>see also the full <a href=README.html>README</a></h2>
</body>
</div>
</html>


