<html>
<body>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>CO2</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
        {{#drinks}}
        <tr>
            <th>{{name}}</th>
            <th>{{CO2}}</th>
            <th>{{paid}}</th>
            <th>{{rating}}</th>
        </tr>
        {{/drinks}}
    </table>
</body>
</html>


