<html>
<center>
<body>
    <table border="0">
        <tr>
            <th>Name</th>
            <th>CO2</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
        {{#drinks}}
        <tr>
            <td><a href="drinks/{{key}}.html">{{name}}</a></td>
            <td>{{#CO2}}Yes{{/CO2}}{{^CO2}}No{{/CO2}}</td>
            <td>{{paid}}</td>
            <td>{{rating}}</td>
        </tr>
        {{/drinks}}
    </table>
</body>
</center>
</html>


