<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="e/drinks.css" />
    <title>{{name}}</title>
</head>
<body>
<div id="wrapper">
<h1 id="heading">{{name}}</h1>
<div id="photo">
<image src="img/{{key}}.jpg">
</div>
<div id="nutritions">
<h2 >Nutritions</h2>
{{#Nutritions}}
<table border="0">
    <tr><th>Contents</th>
        <th>per 100ml</th></tr>
    {{#energy}}
    <tr><td>Energy</td>
        <td>{{energy}} kcal</td></tr>
    {{/energy}}
    {{#sugar}}
    <tr><td>Sugar</td>
        <td>{{sugar}} g</td></tr>
    {{/sugar}}
    {{#sodium}}
    <tr><td>Sodium</td>
        <td>{{sodium}} g</td></tr>
    {{/sodium}}
    {{#taurine}}
    <tr><td>Taurine</td>
        <td>{{taurine}} mg</td></tr>
    {{/taurine}}
    {{#caffein}}
    <tr><td>Caffein</td>
        <td>{{caffein}} mg</td></tr>
    {{/caffein}}
    {{#niacin}}
    <tr><td>Niacin</td>
        <td>{{niacin}} mg</td></tr>
    {{/niacin}}
    {{#panthenol acid}}
    <tr><td>Panthenol acid</td>
        <td>{{panthenol acid}} mg</td></tr>
    {{/panthenol acid}}
    {{#vitamin B6}}
    <tr><td>Vitamin B6</td>
        <td>{{vitamin B6}} mg</td></tr>
    {{/vitamin B6}}
    {{#vitamin B12}}
    <tr><td>Vitamin B12</td>
        <td>{{vitamin B12}} ug</td></tr>
    {{/vitamin B12}}
    {{#vitamin C}}
    <tr><td>Vitamin C</td>
        <td>{{vitamin C}} mg</td></tr>
    {{/vitamin C}}
    {{#vitamin B1}}
    <tr><td>Vitamin B1</td>
        <td>{{vitamin B1}} mg</td></tr>
    {{/vitamin B1}}
    {{#vitamin B2}}
    <tr><td>Vitamin b2</td>
        <td>{{vitamin B2}} mg</td></tr>
    {{/vitamin B2}}
    {{#whey}}
    <tr><td>Whey</td>
        <td>{{whey}} g</td></tr>
    {{/whey}}
    {{#calcium}}
    <tr><td>Calcium</td>
        <td>{{calcium}} mg</td></tr>
    {{/calcium}}
    {{#guarana}}
    <tr><td>Guarana</td>
        <td>{{guarana}} mg</td></tr>
    {{/guarana}}
    {{#biotin}}
    <tr><td>Biotin</td>
        <td>{{biotin}} ug</td></tr>
    {{/biotin}}
    {{#glucuronolacton}}
    <tr><td>Glucuronolacton</td>
        <td>{{glucuronolacton}} mg</td></tr>
    {{/glucuronolacton}}
    {{#coenzym Q1}}
    <tr><td>Coenzym q1</td>
        <td>{{coenzym Q1}} mg</td></tr>
    {{/coenzym Q1}}
    {{#isomaltose}}
    <tr><td>Isomaltose</td>
        <td>{{isomaltose}} g</td></tr>
    {{/isomaltose}}
    {{#magnesium}}
    <tr><td>Magnesium</td>
        <td>{{magnesium}} mg</td></tr>
    {{/magnesium}}
    {{#others}}
    <tr><td>Others</td>
        <td>{{others}} </td></tr>
    {{/others}}
</table>
{{/Nutritions}}
</div>
<div id="general_info">
<h2>General Informations</h2>
{{#date}}Day of Review: {{date}} <br />{{/date}}
CO2: <td>{{#CO2}}Yes{{/CO2}}{{^CO2}}No{{/CO2}} <br />
Volume: {{volume}} ml <br />
Bought from: {{bought from}} <br />
{{#also from}}Also from: {{also from}} <br />{{/also from}}
Paid: {{paid}} Euro<br />
URL: {{url}} <br />
<h2>Review</h2>
<h3>Look</h3>
{{look}}
<h3>Taste</h3>
{{taste}}
<h3>Overall</h3>
{{overall}}
<h3>Rating: {{rating}} of 10</h3>
{{#tribute}}
<h3>Tribute:</h3>
{{tribute}}
{{/tribute}}
</div>
</body>
</html>
