<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="drinks/e/style.css" />
    <meta name="description" content="Energy Drink Database and manly goals in life" />
    <meta name="keywords" content="energydb, energydrink, energy drink,Energy Drink Database, review" />
    <title>Energy Drink Database</title>
    <script type="text/javascript" src="drinks/js/jquery-latest.js"></script> 
    <script type="text/javascript" src="drinks/js/jquery.tablesorter.js"></script> 
    <script type="text/javascript"> 
    $(document).ready(function() {    
      // sort table with highest first rating
      $("#all_drinks").tablesorter({sortList:[[4,1]],widgets:['zebra']});
    }); 
    </script>
</head>
<body>
<div id="wrapper">
<H1>Energy Drink Database</H1>
<p>The project currently holds reviews for <strong>{{num_drinks}}</strong>
distinct energy drinks!</p>
<p> Because i overheard that people actually visit my page to check for changes
i added an <a href=feed.rss>RSS feed</a> to provide a convenient way to
look for new drinks i added. In addition to that i added a "Latest Changes"
entry on this page (look down all the way). This shows the latest git
checkins in this project. That being said, the source code and raw energy drink
database can be found in the <a href=https://github.com/makefu/energydb/>energydb github repository</a>

Have Fun!
</p>
    <table id="all_drinks" border="0" width="80%" class="tablesorter">
    <thead>
        <tr>
            <th>Thumb</th>
            <th>Name</th>
            <th>CO2</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {{#drinks}}
        <tr>
            <td><img src="drinks/img/thumb_{{key}}.jpg"></td>
            <td><a href="drinks/{{key}}.html">{{name}}</a></td>
            <td>{{#CO2}}Yes{{/CO2}}{{^CO2}}No{{/CO2}}</td>
            <td>{{paid}}</td>
            <td>{{rating}}</td>
        </tr>
        {{/drinks}}
      </tbody>
    </table>
<H1>Help Me</H1>
I would be more than glad if something of this project helped you, you may
send me one of the energy drinks i have never drank before ( check db).
Send me a quick mail and we might meet up somewhere here in germany.
<h2>see also the full <a href=README.html>README</a></h2>
<H1>Latest Changes</H1>
{{{changes}}}
</body>
</div>
</html>


